services:
  app:
    build:
      dockerfile: ./Dockerfile
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker
    container_name: ${APP_CONTAINER_NAME}
    ports:
      - "${APP_PORT}:8080"

  redis:
    image: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333" # REST API
      - "6334:6334" # gRPC
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped

volumes:
  qdrant_storage: